.my-class{
border: blue;
margin: auto;
box-sizing: border-box;
width: 50%;
background-color: red;
border-width: 1px;
}

.Kayia {
width: 50%;
box-sizing: border-box;
border: black;
border-width: 1px;
background-color: yellow;
}

.Parsley {
  width: 50%;
  border: solid black;
  border-width: 1px;
  background-color: orange;
  box-sizing: border-box;
}

.Bentley {
width: 40%;
border: yellow;
background-color: green;
box-sizing: border-box;
border-width: 1px;
}